<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InventoryWapp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
  <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth__es_419.js"></script>
</head>
<body>
  <app-root style="text-align: center;">
    <div *ngIf="!user;">
      <app-login></app-login>
    </div>
    <div *ngIf="user;">
      <app-home-component></app-home-component>
    </div>
    

  </app-root>
  
</body>
</html>
